version: "3.9"

services:
  container:
    build:
      context: ./container
    container_name: mfe-container
    ports:
      - "8000:8000"
    networks:
      - mfe-net
    depends_on:
      - marketing
      - auth
      - dashboard

  marketing:
    build:
      context: ./marketing
    container_name: mfe-marketing
    ports:
      - "8081:8081"
    networks:
      - mfe-net

  auth:
    build:
      context: ./auth
    container_name: mfe-auth
    ports:
      - "8082:8082"
    networks:
      - mfe-net

  dashboard:
    build:
      context: ./dashboard
    container_name: mfe-dashboard
    ports:
      - "8083:8083"
    networks:
      - mfe-net

networks:
  mfe-net:
    driver: bridge
